products{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}

.card{
    padding:20px;
    border-radius:10px;
    box-shadow:0 2px 8px rgba(0,0,0,.2);
}

img{
    width:100%;
    height:220px;
    object-fit:cover;
}

@media(max-width:768px){
.products{
grid-template-columns:1fr;
}
}